.popup {
    max-width: 594px;
    margin: 0 auto;
}

.popup-close {
    width: 64px;
    height: 64px;
    background: #031e65;
    border-radius: 84px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    margin: 0 auto 20px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        background: #092879;
    }
}

.popup__wrapp {
    width: 594px;
    background: #ffffff;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 30px 60px 60px 60px;
}

.popu__wrapp-img {
    width: 185px;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

.popup-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #242424;
    padding-bottom: 30px;
}

.popup-form-input,
.popup-select {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 35px;

    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #666666;

    padding: 14px 20px;
    position: relative;
    cursor: pointer;
}

.red {
    position: relative;
}
.red-text {
    width: 200px;
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    left: 20px;
    top: -7px;
}

.red-1 {
    color: red;
}
.popup-form-input:focus + .red-text {
    display: none;
}
.red-del + .red-text {
    display: none;
}

.popup-btn {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 50px;

    background: #bb2831;
    border-radius: 35px;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    text-align: center;

    color: #ffffff;

    text-transform: uppercase;
    transition: 0.4s;
    &:hover {
        background: #cc3640;
    }
}
.popup-textarea {
    width: 100%;
    height: 150px;
    resize: none;
    padding: 14px 20px;

    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #666666;

    background: #ffffff;
    border: 1px solid #c4c4c4;
    border-radius: 35px;
    margin-bottom: 17px;
}

.popup-select {
    appearance: none;
    background: url("../../assets/img/select.svg") no-repeat top 50% right 19px, #fff;
}

.popup__bg,
.popup__new,
.popup__youtube,
.fon__write,
.fon__bell,
.fon-rev,
.fon-children,
.fon-cours {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; // Скрываем фон и сам попап
    pointer-events: none; // Запрещаем ему быть целью событий
    transition: 0.5s all;
}

.popup__bg.active,
.popup__new.active,
.popup__youtube.active,
.fon__write.active,
.popup__youtube.active,
.fon__bell.active,
.fon-rev.active,
.fon-children.active,
.fon-cours.active {
    // При добавлении класса 'active'
    opacity: 1; // Показываем фон и попап
    pointer-events: all; // Возвращаем события
    transition: 0.5s all;
    z-index: 4;
}

.pop--up,
.pop--up__bell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); // Центрируем и масштабируем в 0 само окно
    width: 100%;
    padding: 25px;
    transition: 0.5s all;
    z-index: 4;
}

.pop__youtube,
.pop--up__write,
.pop-rev,
.pop-new,
.pop-children,
.pop-cours {
    top: 0;
    transform: translate(-50%, 0) scale(0); // Центрируем и масштабируем в 0 само окно
}

.open-bell {
    cursor: pointer;
}
.news__slaider .slick-active .open-news,
.news__slaider .slick-active .open-vidio {
    cursor: pointer;
    background: none;
}
.pop--up.active,
.pop--up__write.active,
.pop--up__bell.active,
.pop-rev {
    // При добавлении класса 'active'
    transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
    transition: 0.5s all;
    z-index: 9789;
}

.courses__box-link {
    cursor: pointer;
    background: none;
}
.pop__youtube.active,
.pop-new.active {
    // При добавлении класса 'active'
    transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
    transition: 0.5s all;
    z-index: 4;
}

.pop-children.active,
.pop-cours.active {
    // При добавлении класса 'active'
    transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
    transition: 0.5s all;
    z-index: 4;
}

.stop {
    overflow: hidden;
}
