<section class="courses">
    <div class="container">
        <div class="courses__wrapp">
            <h2 class='courses-title'>
                Наши курсы
            </h2>
            <div class="courses__wrapp-row">
                <div class="courses__wrapp-box">
                    <img class='courses__box-img' src="./assets/img/children.jpg" alt="">
                    <div class="courses__box-inner">
                        <h3 class="courses__box-title">
                            Для детей
                        </h3>
                        <p class="courses__box-text">
                            Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                            ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную
                            речь.
                        </p>
                        <a href="#text-popup" class="courses__box-link btn popup-slider-2">
                            Подробнее
                        </a>
                    </div>
                </div>

                <div class="courses__wrapp-box">
                    <img class='courses__box-img' src="./assets/img/Rectangle.jpg" alt="">
                    <div class="courses__box-inner">
                        <h3 class="courses__box-title">
                            Для взрослых
                        </h3>
                        <p class="courses__box-text">
                            Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                            ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную
                            речь.
                        </p>
                        <a href="#text-popup-2" class="courses__box-link btn popup-slider">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            <img class="courses__wrapp-img" src="./assets/img/pяngwing.svg" alt="">
            <div class="courses-page">
                <h3 class='courses-page-title'>
                    Определить свой уровень онлайн
                </h3>
                <p class="courses-page-text">
                    Занятия со взрослыми проходят после прохождения теста на определение уровня владения английским
                    языком. По результатам теста вы будете зачислены группу соответствующую вашему уровню
                </p>
                <a href="#" class="courses-page-link">
                    Пройти тест
                </a>
                <img class="courses-page-img" src="./assets/img/pngwiыng.svg" alt="">
            </div>
        </div>
    </div>
</section>