<section class="descript">
    <div class="container">
        <h2 class="descript-title">
            Авторские курсы для детей и взрослых<br>
            в <span>swimming.by</span> помогут вам!
        </h2>
        <div class="descript__wrapp">
            <div class="descript__wrapp-inner">
                <div class="descript__wrapp-box">
                    <div class="descript__box-container">
                        <img src="./assets/img/calendar.svg" alt="" class="descript__box-img">
                    </div>
                    <div class="descript__box-text">
                        Удобное<br>
                        расписание
                    </div>
                </div>

                <div class="descript__wrapp-box">
                    <div class="descript__box-container">
                        <img src="./assets/img/credit-card.svg" alt="" class="descript__box-img">
                    </div>
                    <div class="descript__box-text">
                        Гибкая<br>
                        система оплаты
                    </div>
                </div>

                <div class="descript__wrapp-box">
                    <div class="descript__box-container">
                        <img src="./assets/img/user.svg" alt="" class="descript__box-img">
                    </div>
                    <div class="descript__box-text">
                        Индивидуальный<br>
                        подход
                    </div>
                </div>

                <div class="descript__wrapp-box">
                    <div class="descript__box-container">
                        <img src="./assets/img/star.svg" alt="" class="descript__box-img">
                    </div>
                    <div class="descript__box-text">
                        Высокопрофессиональные <br> педагоги с большим стажем
                    </div>
                </div>
            </div>
            <div class="descript__wrapp-img">
                <img class="descript-img" src="./assets/img/pngwing.svg" alt="">
            </div>
        </div>
    </div>
</section>