<header class="header">
    <div class="container">
        <div class="header__wrapp">
            <a href="#" class="logo">
                <img class='logo-img' src="./assets/img/logo.svg" alt="">
                <img class='logo-img-2' src="./assets/img/logo-2.svg" alt="">
            </a>

            <div class="test">

                <div class="header__wrapp-inner">

                    <img class='header__mobil-img' src="./assets/img/logo-2.svg" alt="">

                    <div class="header__col">
                        <div class="header__wrapp-col">
                            <div class="header__col-row">
                                <a href="tel:375447444753" class="header__row-link">
                                    +375 44 <span>744 47 53</span>
                                </a>
                                <a href="#" class="header__row-link">
                                    <img src="./assets/img/telegramm.svg" alt="">
                                </a>
                                <a href="#" class="header__row-link">
                                    <img src="./assets/img/viber.svg" alt="">
                                </a>
                            </div>
                            <div class="header__link open-bell">
                                заказать звонок
                            </div>

                        </div>
                        <nav class="nav">
                            <ul class="nav__list">
                                <li class="nav__list-inner">
                                    <a href="#test" class="nav__list-link scroll-link">
                                        Пройти тест
                                    </a>
                                </li>
                                <li class="nav__list-inner">
                                    <a href="#possibil" class="nav__list-link scroll-link">
                                        Преимущетсва
                                    </a>
                                </li>
                                <li class="nav__list-inner">
                                    <a href="#courses" class="nav__list-link nav__list-link-active scroll-link">
                                        Курсы
                                    </a>
                                </li>
                                <li class="nav__list-inner">
                                    <a href="#teacher" class="nav__list-link scroll-link">
                                        О нас
                                    </a>
                                </li>
                                <li class="nav__list-inner">
                                    <a href="#reviews" class="nav__list-link scroll-link">
                                        Отзывы
                                    </a>
                                </li>
                                <li class="nav__list-inner">
                                    <a href="#map" class="nav__list-link scroll-link">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="header-message">
                        <a href="#" class="header__message-link">
                            <img class='header__message-img' src="./assets/img/ok.svg" alt="">
                        </a>
                        <a href="#" class="header__message-link">
                            <img class='header__message-img' src="./assets/img/vk.svg" alt="">
                        </a>
                        <a href="#" class="header__message-link">
                            <img class='header__message-img' src="./assets/img/facebook.svg" alt="">
                        </a>
                        <a href="#" class="header__message-link">
                            <img class='header__message-img' src="./assets/img/youtube-3.svg" alt="">
                        </a>
                    </div>
                    <img class="header-img" src="./assets/img/header-img.svg" alt="">
                    <img class="header-img-mobil" src="./assets/img/header-img-mobil.svg" alt="">


                </div>
            </div>

            <div class="burger">
                <div class="burger-link open-bell">
                    <img src="./assets/img/burger-phone.svg" alt="" class="burger-link-img">
                </div>
                <button class="menu__burger">
                    <img src="./assets/img/burger.svg" alt="" class="menu__burger-img">
                    <img class="menu__burger-img--active" src="./assets/img/burger-active.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</header>