<main class="main">
    <div class="container">
        <div class="main__wrapp">
            <div class="main__coll">
                <h1 class="main__coll-title">
                    Хотите<br>
                    научиться говорить<br>
                    на английском легко?
                </h1>
                <a href="#" class="main-btn">
                    Подробнее
                </a>
            </div>
            <div class="main__inner">
                <img class="main__inner-img" src="./assets/img/main.png" alt="">
                <img class="main__inner-img-mobil-2" src="./assets/img/main-3.jpg" alt="">
            </div>
        </div>
    </div>
</main>