<section class="news">
    <div class="container">
        <h2 class="news-title">
            Новости
        </h2>
        <div class="news__wrapp">
            <div class="news__wrapp-inner">

                <div class="news__slaider">

                    <div>
                        <div class="news__slaider-box">
                            <img class="news__slaider-img" src="./assets/img/news.jpg" alt="">
                            <div class="news__box-inner">
                                <h3 class="news__box-title">
                                    Заголовок новости
                                </h3>
                                <p class="news__box-text">
                                    Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                                    вовлеченности ...
                                </p>
                                <a href="#popup-content-4" class="btn popup-content">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="news__slaider-box">
                            <img class="news__slaider-img" src="./assets/img/news.jpg" alt="">
                            <div class="news__box-inner">
                                <h3 class="news__box-title">
                                    Заголовок новости<br>
                                    вторая строка
                                </h3>
                                <p class="news__box-text">
                                    Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                                    вовлеченности ...
                                </p>
                                <a href="#popup-content-4" class="btn popup-content">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="news__slaider-box">
                            <a class="news-vidio" href='#'>
                                <img class="news__slaider-img" src="./assets/img/news.jpg" alt="">
                                <img src="./assets/img/youtube-2.svg" alt="" class="news-btn-img">
                            </a>
                            <div class="news__box-inner">
                                <h3 class="news__box-title">
                                    Заголовок новости<br>
                                    вторая строка
                                </h3>
                                <p class="news__box-text">
                                    Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                                    вовлеченности ...
                                </p>
                                <a href="#popup-content-5" class="btn popup-content">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="news__slaider-box">
                            <img class="news__slaider-img" src="./assets/img/news.jpg" alt="">
                            <div class="news__box-inner">
                                <h3 class="news__box-title">
                                    Заголовок новости
                                </h3>
                                <p class="news__box-text">
                                    Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                                    вовлеченности ...
                                </p>
                                <a href="#popup-content-4" class="btn popup-content">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div class="news__slaider-box">
                            <img class="news__slaider-img" src="./assets/img/news.jpg" alt="">
                            <div class="news__box-inner">
                                <h3 class="news__box-title">
                                    Заголовок новости<br>
                                    вторая строка
                                </h3>
                                <p class="news__box-text">
                                    Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                                    вовлеченности ...
                                </p>
                                <a href="#popup-content-4" class="btn popup-content">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>



                    <div>
                        <div class="news__slaider-box">
                            <a class="news-vidio" href='#'>
                                <img class="news__slaider-img" src="./assets/img/news.jpg" alt="">
                                <img src="./assets/img/youtube-2.svg" alt="" class="news-btn-img">
                            </a>
                            <div class="news__box-inner">
                                <h3 class="news__box-title">
                                    Заголовок новости<br>
                                    вторая строка
                                </h3>
                                <p class="news__box-text">
                                    Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                                    вовлеченности ...
                                </p>
                                <a href="#popup-content-5" class="btn popup-content">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>

    </div>
</section>