<section class="news">
    <div class="container">
        <div class="news__wrapp">
            <div class="news__wrapp-inner">
                <h2 class="news-title">
                    Новости
                </h2>
                <div class="news__slaider">
                    <div class="news__slaider-box">

                    </div>
                </div>
            </div>

        </div>
        <h2 class="news-title">
            Новости
        </h2>
        <div class="news__slaider">
            <div class="news__slaider-box">

            </div>
        </div>
    </div>
</section>