<div id="popup-content-5" class=" mfp-hide">
    <div class="pop-up-news-vidio">
        <button class="popup-close" onClick="parent.closePopup();">
            <img src="./assets/img/btn-close.svg" alt="" class="popup__close-img">
        </button>
        <div class="pop-up-wrapp">
            <h3 class="pop-up-title">
                Заголовок новости
            </h3>
            <a class="news-vidio pop-up__inner-img" href='#'>
                <img class="news__slaider-img pop-up-img" src="./assets/img/news.jpg" alt="">
                <img src="./assets/img/youtube-2.svg" alt="" class="news-btn-img">
            </a>
            <p class="pop-up-text">
                Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности ребенок
                очень
                быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь. Занятия с детьми
                проходят
                в форме увлекательной игры. Благодаря эмоциональной вовлеченности ребенок очень быстро познает мир,
                приобретает новые знания и привыкает слышать иностранную речь. Занятия с детьми проходят в форме
                увлекательной игры. Благодаря эмоциональной вовлеченности ребенок очень быстро познает мир, приобретает
                новые знания и привыкает слышать иностранную речь. Занятия с детьми проходят в форме увлекательной игры.
                Благодаря эмоциональной вовлеченности ребенок очень быстро познает мир, приобретает новые знания и
                привыкает
                слышать иностранную речь. Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                вовлеченности ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную
                речь.
            </p>
            <button class="pop-up-btn " onClick="parent.closePopup();">
                Закрыть
            </button>
        </div>
    </div>
</div>