<div class="popup__new">
    <div class="pop-new">
        <div class="pop-up-news">
            <button class="popup-close close-popup">
                <img src="./assets/img/btn-close.svg" alt="" class="popup__close-img">
            </button>
            <div class="pop-up-wrapp">
                <h3 class="pop-up-title">
                    Заголовок новости
                </h3>
                <div class="pop-up__inner-img">
                    <img class="pop-up-img" src="./assets/img/img.jpg" alt="">
                </div>
                <p class="pop-up-text">
                    Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности ребенок
                    очень
                    быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь. Занятия с детьми
                    проходят
                    в форме увлекательной игры. Благодаря эмоциональной вовлеченности ребенок очень быстро познает мир,
                    приобретает новые знания и привыкает слышать иностранную речь. Занятия с детьми проходят в форме
                    увлекательной игры. Благодаря эмоциональной вовлеченности ребенок очень быстро познает мир,
                    приобретает
                    новые знания и привыкает слышать иностранную речь. Занятия с детьми проходят в форме увлекательной
                    игры.
                    Благодаря эмоциональной вовлеченности ребенок очень быстро познает мир, приобретает новые знания и
                    привыкает
                    слышать иностранную речь. Занятия с детьми проходят в форме увлекательной игры. Благодаря
                    эмоциональной
                    вовлеченности ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать
                    иностранную
                    речь.
                </p>
                <button class="pop-up-btn close-popup">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>