<div class="fon-cours">
    <div class="pop-cours">
        <div class="pop-up pop-up-courses">
            <button class="popup-close close-popup">
                <img src="./assets/img/btn-close.svg" alt="" class="popup__close-img">
            </button>
            <div class="pop-up-wrapp">
                <h2 class="popup__courses-title">
                    Английский для<br>
                    взрослых любого уровня
                </h2>
                <div class="popup-slaider">
                    <div class='popup-slaider-box--height'>
                        <div class="popup-slaider-box">
                            <div class="popup-slaider-content">
                                <h3 class="popup-slaider-title">
                                    Beginner
                                </h3>
                                <p class="popup-slaider-text">

                                    На уровне английского<span class='popup-slaider-span'> Beginner</span> вы
                                    познакомитесь
                                    с
                                    английским алфавитом и особенностями произношения звуков, не имеющих аналогов в
                                    нашем
                                    родном
                                    языке, научитесь понимать английскую речь и говорить на простые темы, используя
                                    часто
                                    употребляемые слова и фразы.
                                </p>
                                <p class="popup-slaider-text">
                                    Группа до <span class='popup-slaider-span'>8 человек.</span>
                                </p>
                                <p class="popup-slaider-text">
                                    <span class='popup-slaider-span'>Длительность курса</span>
                                    - 4 месяца
                                    2 раза в неделю по 90 минут.
                                </p>
                                <p class="popup-slaider-text">
                                    150 рублей в месяц. Оплата курса в 2 этапа по 300 рублей.
                                    <span class='popup-slaider-span'>Итоговая стоиместь 600 рублей.</span>
                                </p>
                            </div>
                            <a href="#" class="popup-slaider-btn">
                                Пройти тест
                            </a>
                        </div>
                    </div>


                    <div class='popup-slaider-box--height'>
                        <div class="popup-slaider-box">
                            <div class="popup-slaider-content">
                                <h3 class="popup-slaider-title">
                                    Elementary
                                </h3>
                                <p class="popup-slaider-text">
                                    На данном уровне вы научитесь вести диалог и понимать высказывания собеседника в
                                    ситуациях
                                    повседневного общения, беседовать о себе и своих планах, а также рассуждать в рамках
                                    изученной
                                    тематики.
                                </p>
                                <p class="popup-slaider-text">
                                    Группа до <span class='popup-slaider-span'>8 человек.</span>
                                </p>
                                <p class="popup-slaider-text">
                                    <span class='popup-slaider-span'>Длительность курса </span> - 4 месяца
                                    2 раза в неделю по 90 минут.

                                </p>
                                <p class="popup-slaider-text">
                                    150 рублей в месяц. Оплата курса в 2 этапа по 300 рублей.
                                    <span class='popup-slaider-span'>Итоговая стоиместь 600 рублей.</span>
                                </p>
                            </div>
                            <a href="#" class="popup-slaider-btn">
                                Пройти тест
                            </a>
                        </div>
                    </div>


                    <div class='popup-slaider-box--height'>
                        <div class="popup-slaider-box">
                            <div class="popup-slaider-content">
                                <h3 class="popup-slaider-title">
                                    Pre-Intermediate
                                </h3>
                                <p class="popup-slaider-text">
                                    По окончании курса ваш словарный запас значительно расширится и обогатится
                                    устойчивыми
                                    словосочетаниями, фразовыми глаголами и новой лексикой. Вы сможете использовать
                                    навыки
                                    устной
                                    речи в знакомых жизненных ситуациях (семья, друзья, работа, путешествия, в магазине,
                                    в
                                    ресторане, в аэропорту, на вокзале)
                                </p>
                                <p class="popup-slaider-text">
                                    Группа до <span class='popup-slaider-span'>8 человек.</span>
                                </p>
                                <p class="popup-slaider-text">
                                    <span class='popup-slaider-span'>Длительность курса</span>
                                    - 6 месяцев
                                    2 раза в неделю по 90 минут.
                                </p>
                                <p class="popup-slaider-text">
                                    150 рублей в месяц. Оплата курса в 2 этапа по 450 рублей.
                                    <span class='popup-slaider-span'>Итоговая стоиместь 900 рублей.</span>
                                </p>
                            </div>
                            <a href="#" class="popup-slaider-btn">
                                Пройти тест
                            </a>
                        </div>
                    </div>

                    <div class='popup-slaider-box--height'>
                        <div class="popup-slaider-box">
                            <div class="popup-slaider-content">
                                <h3 class="popup-slaider-title">
                                    Intermediate
                                </h3>
                                <p class="popup-slaider-text">
                                    По окончании данного курса вы сможете достаточно свободно разговаривать на
                                    английском
                                    языке,
                                    обсуждать профессиональные и бытовые темы, понимать на слух практически все
                                    сказанное в
                                    обычном темпе, говорить более бегло, рассуждать и высказывать свою точку зрения,
                                    употреблять
                                    сложные разговорные клише
                                </p>
                                <p class="popup-slaider-text">
                                    Группа до <span class='popup-slaider-span'>8 человек.</span>
                                </p>
                                <p class="popup-slaider-text">
                                    <span class='popup-slaider-span'>Длительность курса</span>
                                    6 месяцев
                                    2 раза в неделю по 90 минут.
                                </p>
                                <p class="popup-slaider-text">
                                    150 рублей в месяц. Оплата курса в 2 этапа по 450 рублей.
                                    <span class='popup-slaider-span'>Итоговая стоиместь 900 рублей.</span>
                                </p>
                            </div>
                            <a href="#" class="popup-slaider-btn">
                                Пройти тест
                            </a>
                        </div>
                    </div>

                    <div class='popup-slaider-box--height'>
                        <div class="popup-slaider-box">
                            <div class="popup-slaider-content">
                                <h3 class="popup-slaider-title">
                                    Upper-Intermediate
                                </h3>
                                <p class="popup-slaider-text">
                                    По окончании курса вы сможете поддержать беседу с несколькими собеседниками или
                                    выразить
                                    свою
                                    точку зрения почти по любой теме в длительной монологической речи. Вы будете строить
                                    длинные
                                    предложения, соединяя их словами связками и четко выражая свою мысль
                                </p>
                                <p class="popup-slaider-text">
                                    Группа до <span class='popup-slaider-span'>8 человек.</span>
                                </p>
                                <p class="popup-slaider-text">
                                    <span class='popup-slaider-span'>Длительность курса</span>
                                    - 6 месяцев
                                    2 раза в неделю по 90 минут.
                                </p>
                                <p class="popup-slaider-text">
                                    150 рублей в месяц. Оплата курса в 2 этапа по 450 рублей.
                                    <span class='popup-slaider-span'>Итоговая стоиместь 900 рублей.</span>
                                </p>
                            </div>
                            <a href="#" class="popup-slaider-btn">
                                Пройти тест
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>