<div class="popup__youtube">
    <div class="pop__youtube">
        <div class="pop-up-news-vidio">
            <button class="popup-close close-popup">
                <img src="./assets/img/btn-close.svg" alt="" class="popup__close-img">
            </button>
            <div class="pop-up-wrapp">
                <h3 class="pop-up-title">
                    Заголовок новости
                </h3>
                <div class="news-vidio news-vidio-popup pop-up__inner-img">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kndqIj8Qgok"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <p class="pop-up-text">
                    Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности ребенок
                    очень
                    быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь. Занятия с детьми
                    проходят
                    в форме увлекательной игры. Благодаря эмоциональной вовлеченности ребенок очень быстро познает мир,
                    приобретает новые знания и привыкает слышать иностранную речь. Занятия с детьми проходят в форме
                    увлекательной игры. Благодаря эмоциональной вовлеченности ребенок очень быстро познает мир,
                    приобретает
                    новые знания и привыкает слышать иностранную речь. Занятия с детьми проходят в форме увлекательной
                    игры.
                    Благодаря эмоциональной вовлеченности ребенок очень быстро познает мир, приобретает новые знания и
                    привыкает
                    слышать иностранную речь. Занятия с детьми проходят в форме увлекательной игры. Благодаря
                    эмоциональной
                    вовлеченности ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать
                    иностранную
                    речь.
                </p>
                <button class="pop-up-btn close-popup">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>