<div class="pop-up pop-up-courses-children">
    <button class="popup-close">
        <img src="./assets/img/btn-close.svg" alt="" class="popup__close-img">
    </button>
    <div class="pop-up-wrapp">
        <h2 class="popup__courses-title">
            Английский для детей
        </h2>
        <div class="popup-slaider-2">
            <div>
                <div class="popup-slaider-box box-children-1">
                    <img src="./assets/img/head-1.svg" alt="" class="popup-head-img">
                    <div class="popup-slaider-content">
                        <h3 class="popup-slaider-title">
                            Дети 3-4 года
                        </h3>
                        <p class="popup-slaider-text">
                            Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                            вовлеченности ребенок очень быстро познает мир, приобретает новые знания
                            и привыкает слышать иностранную речь.
                            На занятиях используются разнообразные игрушки, карточки, дидактический
                            материал, интерактивные игры для развития мелкой моторики, фонематического
                            слуха, ассоциативного мышления, памяти и внимания
                        </p>
                        <div class="popup-content-subtitle-1">
                            Цель курса
                        </div>
                        <p class="popup-slaider-text">
                            Данный курс направлен на развитие интереса ребенка к иностранному языку
                            через метод игры, основными принципами которого являются наглядность
                            и сенсорика. Монтессори английский.
                        </p>
                        <div class="popup-content-subtitle-2">
                            Результат
                        </div>
                        <p class="popup-slaider-text">
                            Ребенок сможет распознавать родную и иностранную речь на слух.
                        </p>

                        <div class="popup-content-subtitle-3">
                            Длительность курса
                        </div>
                        <p class="popup-slaider-text">
                            1 месяц и более.
                        </p>
                    </div>
                    <a href="#" class="popup-slaider-btn">
                        Записаться
                    </a>
                </div>
            </div>


            <div>
                <div class="popup-slaider-box box-children-2">
                    <img src="./assets/img/head-2.svg" alt="" class="popup-head-img">
                    <div class="popup-slaider-content">
                        <h3 class="popup-slaider-title">
                            Дети 5-6 лет
                        </h3>

                        <p class="popup-slaider-text">
                            Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                            вовлеченности ребенок очень быстро познает мир, приобретает новые знания
                            и привыкает слышать иностранную речь.
                            На занятиях используются разнообразные игрушки, карточки, дидактический
                            материал, интерактивные игры для развития мелкой моторики, фонематического
                            слуха, ассоциативного мышления, памяти и внимания
                        </p>
                        <div class="popup-content-subtitle-1">
                            Цель курса
                        </div>
                        <p class="popup-slaider-text">
                            Данный курс направлен на развитие интереса ребенка к иностранному языку
                            через метод игры, основными принципами которого являются наглядность
                            и сенсорика. Монтессори английский.
                        </p>
                        <div class="popup-content-subtitle-2">
                            Результат
                        </div>
                        <p class="popup-slaider-text">
                            Ребенок сможет распознавать родную и иностранную речь на слух.
                        </p>
                        <div class="popup-content-subtitle-3">
                            Длительность курса
                        </div>
                        <p class="popup-slaider-text">
                            1 месяц и более.
                        </p>
                    </div>
                    <a href="#" class="popup-slaider-btn">
                        Записаться
                    </a>
                </div>
            </div>


            <div>
                <div class="popup-slaider-box box-children-3">
                    <img src="./assets/img/head-3.svg" alt="" class="popup-head-img">
                    <div class="popup-slaider-content ">
                        <h3 class="popup-slaider-title">
                            с нуля
                        </h3>
                        <p class="popup-slaider-text">
                            Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                            вовлеченности ребенок очень быстро познает мир, приобретает новые знания
                            и привыкает слышать иностранную речь.
                            На занятиях используются разнообразные игрушки, карточки, дидактический
                            материал, интерактивные игры для развития мелкой моторики, фонематического
                            слуха, ассоциативного мышления, памяти и внимания
                        </p>
                        <div class="popup-content-subtitle-1">
                            Цель курса
                        </div>
                        <p class="popup-slaider-text">
                            Данный курс направлен на развитие интереса ребенка к иностранному языку
                            через метод игры, основными принципами которого являются наглядность
                            и сенсорика. Монтессори английский.
                        </p>
                        <div class="popup-content-subtitle-2">
                            Результат
                        </div>
                        <p class="popup-slaider-text">
                            Ребенок сможет распознавать родную и иностранную речь на слух.
                        </p>
                        <div class="popup-content-subtitle-3">
                            Длительность курса
                        </div>
                        <p class="popup-slaider-text">
                            1 месяц и более.
                        </p>
                    </div>
                    <a href="#" class="popup-slaider-btn">
                        Записаться
                    </a>
                </div>
            </div>

            <div>
                <div class="popup-slaider-box box-children-4">
                    <img src="./assets/img/head-3.svg" alt="" class="popup-head-img">
                    <div class="popup-slaider-content">
                        <h3 class="popup-slaider-title">
                            продолжающие
                        </h3>
                        <p class="popup-slaider-text">
                            Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной
                            вовлеченности ребенок очень быстро познает мир, приобретает новые знания
                            и привыкает слышать иностранную речь.
                            На занятиях используются разнообразные игрушки, карточки, дидактический
                            материал, интерактивные игры для развития мелкой моторики, фонематического
                            слуха, ассоциативного мышления, памяти и внимания

                        </p>
                        <div class="popup-content-subtitle-1">
                            Цель курса
                        </div>
                        <p class="popup-slaider-text">
                            Данный курс направлен на развитие интереса ребенка к иностранному языку
                            через метод игры, основными принципами которого являются наглядность
                            и сенсорика. Монтессори английский.
                        </p>
                        <div class="popup-content-subtitle-2">
                            Результат
                        </div>
                        <p class="popup-slaider-text">
                            Ребенок сможет распознавать родную и иностранную речь на слух.
                        </p>
                        <div class="popup-content-subtitle-3">
                            Длительность курса
                        </div>
                        <p class="popup-slaider-text">
                            1 месяц и более.
                        </p>
                    </div>
                    <a href="#" class="popup-slaider-btn">
                        Записаться
                    </a>
                </div>
            </div>




        </div>
    </div>
</div>