<div id="popup-content-1" class=" mfp-hide">
    <div class="popup popup-bell" onClick="parent.closePopup();">
        <button class="popup-close">
            <img src="./assets/img/btn-close.svg" alt="" class="popup__close-img">
        </button>
        <div class="popup__wrapp">
            <img class="popu__wrapp-img" src="./assets/img/pop-logo.svg" alt="">
            <div class="popup-title">
                Оставьте ваши контактные данные и в ближайшее время мы свяжемся с вами
            </div>
            <form action="/" class="popup-form">
                <input class="popup-form-input" type="text" placeholder="Ваше имя">
                <label class="red">
                    <input class="popup-form-input" type="text">
                    <span class='red-text'>Телефон<span class='red-1'>*</span></span>
                </label>
                <button class="popup-btn" type="submit">
                    отправить
                </button>
            </form>
        </div>
    </div>
</div>