<div class="popup popup-reviews">
    <button class="popup-close">
        <img src="./assets/img/btn-close.svg" alt="" class="popup__close-img">
    </button>
    <div class="popup__wrapp">
        <img class="popu__wrapp-img" src="./assets/img/pop-logo.svg" alt="">
        <div class="popup-title">
            Оставить отзыв
        </div>
        <form action="/" class="popup-form">
            <label class="red">
                <input class="popup-form-input" type="text">
                <span class='red-text'>Ваше имя<span class='red-1'>*</span></span>
            </label>
            <label class="red">
                <input class="popup-form-input" type="text">
                <span class='red-text'>Телефон<span class='red-1'>*</span></span>
            </label>
            <textarea class="popup-textarea" placeholder="Отзыв"></textarea>
            <button class="popup-btn" type="submit">
                отправить
            </button>
        </form>
    </div>
</div>