<div class="popup__bg">
    <div class="pop--up">
        <div class="popup popup-clos">
            <button class="popup-close close-popup">
                <img src="./assets/img/btn-close.svg" alt="" class="popup__close-img">
            </button>
            <div class="popup__wrapp">
                <img class="popu__wrapp-img" src="./assets/img/pop-logo.svg" alt="">
                <div class="popup-title">
                    Ваше сообщение отправлено
                </div>

                <button class="popup-btn close-popup" type="submit">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>