<section class="possibil">
    <div class="container">
        <div class="possibil__wrapp">
            <div class="possibil__inner">
                <img class="possibil-img" src="./assets/img/auto.svg" alt="">
            </div>
            <div class="possibil__wrapp-inner">
                <h2 class="possibil__wrapp-title">
                    Почему надо учить английский?
                </h2>
                <div class="possibil__box">
                    <div class="possibil__box-title">
                        Вы сможете:
                    </div>
                    <ul class="possibil__list">
                        <li class="possibil__list-inner">
                            Много путешествовать и общаться с людьми из других стран
                        </li>
                        <li class="possibil__list-inner">
                            Читать и следить за информацией в интернете на английском
                        </li>
                        <li class="possibil__list-inner">
                            Ребенок будет получать дополнительные знания по английскому
                        </li>
                        <li class="possibil__list-inner">
                            Поступать в университеты и институты на престижные профессии
                        </li>
                        <li class="possibil__list-inner">
                            Иметь дополнительное преимужетсво, зная английский язык, на рабочем месте
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>