<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">
            Отзывы
        </h2>
        <div class="reviews-btn rev__open">
            оставить отзыв
        </div>
        <div class="reviews__slaider">
            <div>
                <div class="reviews__slaider-box">
                    <div class="reviews__slaider-col">
                        <img class="reviews-img" src="./assets/img/rev.svg" alt="">
                        <div class="reviews-date">
                            23.10.20
                        </div>
                        <div class="reviews-name">
                            Ивановский
                            Иван
                        </div>
                        <div class="reviews__courses">
                            Английский для взрослых
                        </div>
                    </div>
                    <div class="reviews__slaider-col-2">
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                    </div>
                </div>
            </div>

            <div>
                <div class="reviews__slaider-box">
                    <div class="reviews__slaider-col">
                        <img class="reviews-img" src="./assets/img/rev.svg" alt="">
                        <div class="reviews-date">
                            23.10.20
                        </div>
                        <div class="reviews-name">
                            Ивановский
                            Иван
                        </div>
                        <div class="reviews__courses">
                            Английский для взрослых
                        </div>
                    </div>
                    <div class="reviews__slaider-col-2">
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                    </div>
                </div>
            </div>

            <div>
                <div class="reviews__slaider-box">
                    <div class="reviews__slaider-col">
                        <img class="reviews-img" src="./assets/img/rev.svg" alt="">
                        <div class="reviews-date">
                            23.10.20
                        </div>
                        <div class="reviews-name">
                            Ивановский
                            Иван
                        </div>
                        <div class="reviews__courses">
                            Английский для взрослых
                        </div>
                    </div>
                    <div class="reviews__slaider-col-2">
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                    </div>
                </div>
            </div>


            <div>
                <div class="reviews__slaider-box">
                    <div class="reviews__slaider-col">
                        <img class="reviews-img" src="./assets/img/rev.svg" alt="">
                        <div class="reviews-date">
                            23.10.20
                        </div>
                        <div class="reviews-name">
                            Ивановский
                            Иван
                        </div>
                        <div class="reviews__courses">
                            Английский для взрослых
                        </div>
                    </div>
                    <div class="reviews__slaider-col-2">
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                        Занятия с детьми проходят в форме увлекательной игры. Благодаря эмоциональной вовлеченности
                        ребенок очень быстро познает мир, приобретает новые знания и привыкает слышать иностранную речь.
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>