<section id='teacher' class="teacher">
    <div class="container">
        <div class="teacher__wrapp">
            <img class="teacher-img" src="./assets/img/teacher.jpg" alt="">
            <div class="teacher__wrapp-inner">
                <div class="teacher__wrapp-name">
                    <h2 class='teacher-title'>
                        Наш преподаватель
                    </h2>
                    <h3 class='teacher-subtitle'>
                        Ольга Владимировна Назаренко
                    </h3>
                </div>
                <ul class="teacher__list">
                    <li class="teacher__list-inner teacher__list-1">
                        Окончила факультет английского языка Минского государственного лингвистического университета по
                        специальности:<br>
                        «Современные иностранные языки»
                    </li>
                    <li class="teacher__list-inner teacher__list-2">
                        Квалификация: «Лингвист. Преподаватель английского и турецкого языков и литературы»
                    </li>
                    <li class="teacher__list-inner teacher__list-3">
                        Имеет 10-летний опыт работы как с детьми всех возрастов, так и со взрослыми (от Beginner до
                        Upper-Intermediate)
                    </li>
                    <li class="teacher__list-inner teacher__list-4">
                        Постоянно повышает свой уровень знаний, участвую в различных семинарах, вебинарах и курсах
                        повышения квалификации
                    </li>
                </ul>
            </div>
        </div>

        <div class="teacher-page">
            «В работе я использую свой авторский метод, который разработан на основе интеграции традиционных и
            современных методов преподавания. Он предполагает полное погружение учащихся в языковой процесс посредством
            использования аудио-, видео-ресурсов, общения, игровых ситуаций, дискуссий, коммуникативных и интерактивных
            заданий»
        </div>
        <div class="teacher-vidio">
            <video class='video' src="" poster="./assets/img/video.jpg"></video>
            <button class="vidio-btn">
                <img src="./assets/img/youtube.svg" alt="">
            </button>
        </div>
        <a href="#" class="teacger__youtube">
            <img class="teacger__youtube-img" src="./assets/img/teacher-youtube.svg" alt="">
        </a>
    </div>
</section>