@import "../sass/vendor/font.scss";
@import "../sass/vendor/slick.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/jquery.mCustomScrollbar.scss";

* {
    box-sizing: border-box;
    font-family: "Gilroy";
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1258px;
    padding: 0 20px;
    margin: 0 auto;
}
.page {
    overflow: hidden;
}
@import "../sass/blocks/header.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/possibil.scss";
@import "../sass/blocks/description.scss";
@import "../sass/blocks/courses.scss";
@import "../sass/blocks/teacher.scss";
@import "../sass/blocks/news.scss";
@import "../sass/blocks/reviews.scss";
@import "../sass/blocks/map.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/popup-bell.scss";
@import "../sass/blocks/pop-up-news.scss";
@import "../sass/blocks/pop-up-courses.scss";
@import "../sass/blocks/burger.scss";
@import "../sass/blocks/adaptive.scss";
